body{
	/*background-image: url("ec2.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: fixed;
	background-color: white;*/

	background: #ffffff url("ec2.png") no-repeat fixed left bottom;

	
}
.all{
	font-size: 30px;
	
}


.two{
	position:relative;
	top:10px;
	width:70%;
	margin:auto;
	/*background-color:red;*/
	}


.one{
	
	width:70%;
	margin:auto;
	/*background-color:red;*/
	}