
.one{
	width:500px;
	height:100px;
	background-color: lightblue;
	overflow:scroll;
}

.two{
	max-width:500px;
	background-color: lightgrey;
	border: 1px solid black;
	outline: 5px solid yellow;
	}
.three{
	min-width: 500px;
	background-color: lightpink;
}